<div class="container">
    <h4 id="nosotros">Contactanos</h4>
    <hr>
    <p>¿Tienes un proyecto en mente? Contactanos.</p>
    <form method="post">
        <div class="mb-3">
            <label for="InputEmail1" class="form-label"></label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Correo">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="InputName" class="form-label"></label>
            <input type="text" class="form-control" id="InputName" placeholder="Nombre">
        </div>

        <div class="mb-3">
            <label for="InputSubject" class="form-label"></label>
            <input type="text" class="form-control" id="InputSubject" placeholder="Asunto">
        </div>

        <div class="mb-3">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comentarios</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<div class="container my-5">
    <img src="  https://www.w3schools.com/w3images/map.jpg">
</div>