<div class="container">
    <h4>About</h4>
    <hr>
</div>

<div class="container">
    <p>En BR Architects, somos un equipo apasionado de arquitectos y profesionales creativos dedicados a transformar
        ideas en espacios inspiradores. Con una trayectoria sólida y un enfoque centrado en el cliente, nos
        enorgullece ofrecer soluciones arquitectónicas de calidad excepcional.</p>
    <p>Nuestro equipo está compuesto por expertos en diseño, planificación y gestión de proyectos, con una amplia
        experiencia en diversos sectores, desde residencial y comercial hasta institucional y de servicios. Nos
        destacamos por nuestra capacidad de entender las necesidades y objetivos únicos de cada cliente, y
        transformarlos en diseños funcionales, estéticamente atractivos y sostenibles.</p>
</div>
<div class="album bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="100%" height="225">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://images.pexels.com/photos/209274/pexels-photo-209274.jpeg" alt="" width="100%" height="225">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://images.pexels.com/photos/1438832/pexels-photo-1438832.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="" width="100%" height="225">
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                   <img src="https://images.pexels.com/photos/1475938/pexels-photo-1475938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="100%" height="225">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                   <img src="https://images.pexels.com/photos/259588/pexels-photo-259588.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="100%" height="225">
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img src="https://images.pexels.com/photos/259593/pexels-photo-259593.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="100%" height="225">
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://images.pexels.com/photos/772177/pexels-photo-772177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="100%" height="225" >
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://images.pexels.com/photos/1475938/pexels-photo-1475938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="100%" height="225">

                </div>
            </div>
        </div>
    </div>
</div>ñ