<div class="container">
  <h4 id="nosotros">Sobre nosotros</h4>
  <hr>
</div>

<div class="container">
  <p>En BR Architects, somos un equipo apasionado de arquitectos y profesionales creativos dedicados a transformar
    ideas en espacios inspiradores. Con una trayectoria sólida y un enfoque centrado en el cliente, nos
    enorgullece ofrecer soluciones arquitectónicas de calidad excepcional.</p>
  <p>Nuestro equipo está compuesto por expertos en diseño, planificación y gestión de proyectos, con una amplia
    experiencia en diversos sectores, desde residencial y comercial hasta institucional y de servicios. Nos
    destacamos por nuestra capacidad de entender las necesidades y objetivos únicos de cada cliente, y
    transformarlos en diseños funcionales, estéticamente atractivos y sostenibles.</p>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    <div class="card">
      <img
        src="https://images.pexels.com/photos/6322355/pexels-photo-6322355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Alejandro Martínez</h5>
        <p class="card-text">Arquitecto apasionado por el diseño y la construcción. Desde joven, desarrollé un
          interés por las estructuras y los espacios que me llevó a estudiar arquitectura.</p>
        <a href="../header/header.component.html" class="btn btn-primary">Contactar</a>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.pexels.com/photos/5292200/pexels-photo-5292200.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sofía González</h5>
        <p class="card-text">Arquitecta apasionada por la integración de la naturaleza en el diseño
          arquitectónico.
          Me fascina la forma en que los edificios y la naturaleza podían coexistir en armonía.</p>
        <a href="../header/header.component.html" class="btn btn-primary">Contactar</a>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.pexels.com/photos/6474475/pexels-photo-6474475.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Juan Rodríguez</h5>
        <p class="card-text">Arquitecto especializado en la revitalización de espacios urbanos. Desde el principio de mi
          carrera, he tenido una pasión por transformar áreas abandonadas o deterioradas en vibrantes centros de vida y
          cultura</p>
        <a href="../header/header.component.html" class="btn btn-primary">Contactar</a>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.pexels.com/photos/6930303/pexels-photo-6930303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Carolina López</h5>
        <p class="card-text">Arquitecta comprometida con la creación de espacios accesibles e inclusivos. Durante mi
          formación académica, desarrollé un interés por el diseño universal y la necesidad de eliminar las barreras
          físicas y sociales en el entorno construido.</p>
        <a href="../header/header.component.html" class="btn btn-primary">Contactar</a>
      </div>
    </div>
  </div>
</div>
