.header {
    background-image: url(https://images.pexels.com/photos/4242898/pexels-photo-4242898.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 50rem;
    background-size: cover;
}